<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{%static 'style.css'%}"/>
    <!-- <link rel="stylesheet" type="text/css" href="../static/style.css" /> -->
    <title>Gyungb_in_rocket</title>
    <link rel="icon" type="image/x-icon" href="../static/source/rocket.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
  </head>
</html>

<body>
  <header>
    <nav class="topnav">
      <a class="active" href="#info">INFO</a>
      <a href="#more">MORE</a>
      <a href="#project">PROJECT</a>
      <a href="#contact">CONTACT</a>
    </nav>
    </div>
  </header>

  <div class="slideshow-container">
    <div class="slide">
      <img src="../static/source/slideshow4.jpg">
    </div>
    <!-- <div class="slide">
      <img src="../static/source/slideshow2.jpg">
    </div>
    <div class="slide">
      <img src="../static/source/slideshow3.jpg">
    </div>
    <div class="slide">
      <img src="../static/source/slideshow1.jpg">
    </div> -->
  </div>

  <div class="container">
  <div class="main">
    <h1>LIFE IS A ROCKET</h1>
    <p>I will soar, and land safely with fabulous memories.</p>
  </div>
</div>
</body>
